{>"index"/}

{<page_body}
<div class="page page-about js-page">
  <div class="container">
    {>"./partials/header"/}
    <div class="row">
      <div class="col s12">
        <h1>Page {appData.route}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <Clock></Clock>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        Please see <a href="https://github.com/erchaves/node-express-dust">https://github.com/erchaves/node-express-dust</a> for more information.
      </div>
    </div>
  </div>
</div>
{/page_body}
