.page {
  h1 {
    font-size: 1.5rem;
    text-transform: capitalize;
  }

  p {
    margin: 1rem 0;
  }

  // temp demo styles
  .section-header {
    width: 100%;
    text-align: right;

    .links a {
      line-height: $font-size-site * 4;
      display: inline-block;
      margin: 0 .5rem;
    }
  }

  .btn-modal-show {
    margin-top: 10vh;
  }
}
