<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="{title}">
  <meta name="description" content="{description}">

  <title>{title}</title>

  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{title}"/>
  <meta property="og:url" content="{canonicalUrl}"/>
  <meta property="og:site_name" content="{siteName}"/>
  <meta property="og:description" content="{description}"/>
  <meta property="og:image" content="{siteImg}"/>
  <link rel="canonical" href="{canonicalUrl}" />

  <link rel="manifest" href="/manifest.json">

  <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700|PT+Sans:400,700" rel="stylesheet">

  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div class="wrapper">
{+html_body}
{/html_body}

    <div class="page page-home js-page">
  <div class="container">
    {>"./partials/header.html"/}
    <div class="row">
      <div class="col s12">
        Page Home
      </div>
      <div class="col s12 center">
        <button class="btn btn-modal-show js-btn-modal-show">test modal</button>
      </div>
    </div>
  </div>
</div>


    {>"partials/modal.html"/}
  </div>

  <script>
    // window.injectData = <?-JSON.stringify(injectData)?>;
  </script>

  <script src="/main.js"></script>

  <script>
    (function () {
      var isProd = location.host === "XXX-todo";
      var path;

      if (isProd) {
        return;
      }
      path = '//' + location.host.split(':')[0] + ':35729/livereload.js';
      document.write('<script src="' + path + '"></'+'script>');
    })();
  </script>
</body>
</html>